@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family:'Cormorant Garamond', serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border: 1px solid rgba(0, 0, 0, 0.225);
}
.menus ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
.menus li{
    margin-left: 20px;
}
.menus a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.apresentacao{
    display: flex;
    margin: 23px;  
    font-family:'Cormorant Garamond', serif;
}
#foto-perfil{
    display: flex;
    position: relative;
    margin: 50% top;
    width: auto;
}

.perfil-imagem{
    width: 300px;
    height: 300px;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.438);
    border-radius: 50%;
}
#redes-sociais{
    display: flex;
    position: relative;
    width: auto;
    margin-top: 15px;
}
#redes-sociais ul{
    margin: auto;
    list-style: none;
}
#redes-sociais li{
    margin-right: 10px;
    margin-left: 10px;
    display: inline-block;
}
#redes-sociais a{
    text-decoration: none;
}
#redes-sociais img{
    height: 45px;
    width: 45px;
    border-radius: 50px;
}
.t-c-e{
    padding:23px;
}
.t-c-e li{
   margin-top: 5px;
   list-style: none;
}
.t-c-e a{
    text-decoration: none;
}
.t-c-e p{
    margin-top: 15px;
    font-size: 14pt;
}
footer{
    padding: 23px;
    display: flex;
}
footer p{
    position: relative;
    bottom: -10px;
}